#register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
    height: 100%;
}

.container{
    height: 100vh;
}

.register-heading{
    text-align: center;
    margin-top: 20px;
    color: #495057;
}

/*Left part of the sign up form*/
.register-left{
    color: #f8f9fa;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/*Left part of the sign up form*/



#register .register-form{
    padding: 10%;
}

.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.text-muted{
    color:red !important;
}


@media (min-width:320px)  { 

    .register-left img{
            display:block;
            margin-left: auto;
            margin-right: auto;
    }
    .register-left input{
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    .register-right{
        background: #f8f9fa;
    }
 
 }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }

@media (min-width:641px)  { 
  
}

@media (max-width:641px)  { 
     #register{
        height: min-content !important;
    }
}

@media (min-width:961px)  { 
   
 }
@media (min-width:1025px) { 
    .register-right{
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }
    /* #register{
        height: 100%;
    } */
 
}
@media (min-width:1281px) { 
    .register-right{
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }
    

}